@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Light.ttf);
    font-weight: lighter;
}

body {
    font-family: "Lato";
}

h1 {
    font-style: italic;
}

a {
    color: black;
}

.menu {
    display: flex;
    justify-content: flex-start;
    
}

.menu>a {
    margin-right: 10px;
    text-decoration: none;
}
